<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="the Vision Test status report">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Vision Test</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Vision Automated Test Status</h1>
        </header>
        <main class="row">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Copyright 2017 Gogo Corporation</p>
        </footer>
    </div>
</body>
</html>